Modulo07_WEBService_WSDL/Projeto01_ServicosWCF/Projeto02_ConsumoWCF/Connected Services/ServiceProxy/ServiceConceitos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceConceitos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49532/ServiceConceitos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49532/ServiceConceitos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49532/ServiceConceitos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Projeto01_ServicosWCF.Models" />
      <xsd:import schemaLocation="http://localhost:49532/ServiceConceitos.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceConceitos_ListarAlunos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAlunos" />
  </wsdl:message>
  <wsdl:message name="IServiceConceitos_ListarAlunos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAlunosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceConceitos_AdicionarAluno_InputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarAluno" />
  </wsdl:message>
  <wsdl:message name="IServiceConceitos_AdicionarAluno_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarAlunoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceConceitos_ListarNomes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarNomes" />
  </wsdl:message>
  <wsdl:message name="IServiceConceitos_ListarNomes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarNomesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceConceitos_CalcularSoma_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcularSoma" />
  </wsdl:message>
  <wsdl:message name="IServiceConceitos_CalcularSoma_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcularSomaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceConceitos">
    <wsdl:operation name="ListarAlunos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceConceitos/ListarAlunos" message="tns:IServiceConceitos_ListarAlunos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceConceitos/ListarAlunosResponse" message="tns:IServiceConceitos_ListarAlunos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarAluno">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceConceitos/AdicionarAluno" message="tns:IServiceConceitos_AdicionarAluno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceConceitos/AdicionarAlunoResponse" message="tns:IServiceConceitos_AdicionarAluno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarNomes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceConceitos/ListarNomes" message="tns:IServiceConceitos_ListarNomes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceConceitos/ListarNomesResponse" message="tns:IServiceConceitos_ListarNomes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcularSoma">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceConceitos/CalcularSoma" message="tns:IServiceConceitos_CalcularSoma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceConceitos/CalcularSomaResponse" message="tns:IServiceConceitos_CalcularSoma_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceConceitos" type="tns:IServiceConceitos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarAlunos">
      <soap:operation soapAction="http://tempuri.org/IServiceConceitos/ListarAlunos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarAluno">
      <soap:operation soapAction="http://tempuri.org/IServiceConceitos/AdicionarAluno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarNomes">
      <soap:operation soapAction="http://tempuri.org/IServiceConceitos/ListarNomes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcularSoma">
      <soap:operation soapAction="http://tempuri.org/IServiceConceitos/CalcularSoma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceConceitos">
    <wsdl:port name="BasicHttpBinding_IServiceConceitos" binding="tns:BasicHttpBinding_IServiceConceitos">
      <soap:address location="http://localhost:49532/ServiceConceitos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>