Modulo07_WEBService_WSDL/Projeto01_ServicosWCF/Projeto02_ConsumoWCF/Connected Services/ServiceProxy/ServiceConceitos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49532/ServiceConceitos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Projeto01_ServicosWCF.Models" />
  <xs:import schemaLocation="http://localhost:49532/ServiceConceitos.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ListarAlunos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlunosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Projeto01_ServicosWCF.Models" minOccurs="0" name="ListarAlunosResult" nillable="true" type="q1:ArrayOfAluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarAluno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Projeto01_ServicosWCF.Models" minOccurs="0" name="aluno" nillable="true" type="q2:Aluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarAlunoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarNomes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarNomesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListarNomesResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularSoma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:double" />
        <xs:element minOccurs="0" name="y" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularSomaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcularSomaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>