Modulo08_REST/DesenvolvimentoWEB.Vendas/DesenvolvimentoWEB.Vendas/Connected Services/ServiceProxy/ServicePagamentos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50323/ServicePagamentos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Projeto02_WCFPagamentos.Models" />
  <xs:element name="ListarCartoes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCartoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Projeto02_WCFPagamentos.Models" minOccurs="0" name="ListarCartoesResult" nillable="true" type="q1:ArrayOfCartaoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EfetuarPagamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Projeto02_WCFPagamentos.Models" minOccurs="0" name="pagamento" nillable="true" type="q2:PagamentoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EfetuarPagamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EfetuarPagamentoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPagamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPagamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Projeto02_WCFPagamentos.Models" minOccurs="0" name="ListarPagamentosResult" nillable="true" type="q3:ArrayOfPagamentoContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>