Modulo08_REST/DesenvolvimentoWEB.Vendas/DesenvolvimentoWEB.Vendas/Connected Services/ServiceProxy/ServicePagamentos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePagamentos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50323/ServicePagamentos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50323/ServicePagamentos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50323/ServicePagamentos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Projeto02_WCFPagamentos.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePagamentos_ListarCartoes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarCartoes" />
  </wsdl:message>
  <wsdl:message name="IServicePagamentos_ListarCartoes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarCartoesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePagamentos_EfetuarPagamento_InputMessage">
    <wsdl:part name="parameters" element="tns:EfetuarPagamento" />
  </wsdl:message>
  <wsdl:message name="IServicePagamentos_EfetuarPagamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EfetuarPagamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePagamentos_ListarPagamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPagamentos" />
  </wsdl:message>
  <wsdl:message name="IServicePagamentos_ListarPagamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPagamentosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePagamentos">
    <wsdl:operation name="ListarCartoes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePagamentos/ListarCartoes" message="tns:IServicePagamentos_ListarCartoes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePagamentos/ListarCartoesResponse" message="tns:IServicePagamentos_ListarCartoes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EfetuarPagamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePagamentos/EfetuarPagamento" message="tns:IServicePagamentos_EfetuarPagamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePagamentos/EfetuarPagamentoResponse" message="tns:IServicePagamentos_EfetuarPagamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPagamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePagamentos/ListarPagamentos" message="tns:IServicePagamentos_ListarPagamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePagamentos/ListarPagamentosResponse" message="tns:IServicePagamentos_ListarPagamentos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePagamentos" type="tns:IServicePagamentos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarCartoes">
      <soap:operation soapAction="http://tempuri.org/IServicePagamentos/ListarCartoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EfetuarPagamento">
      <soap:operation soapAction="http://tempuri.org/IServicePagamentos/EfetuarPagamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPagamentos">
      <soap:operation soapAction="http://tempuri.org/IServicePagamentos/ListarPagamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePagamentos">
    <wsdl:port name="BasicHttpBinding_IServicePagamentos" binding="tns:BasicHttpBinding_IServicePagamentos">
      <soap:address location="http://localhost:50323/ServicePagamentos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>